{% extends "layout.html" %}
{% block style %}
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
{% endblock %}
{% block content %}
<h1 style="display: inline-block;">Working time</h1>
{% if current_user.is_authenticated %}
    {% if current_user.has_role('superuser') %}
      <span class="pull-right">
        <a href="{{ url_for('api.download', start_date=start_date, end_date=end_date) }}"
           class="btn btn-mini btn-primary">Download</a>
      </span>
    {% elif not current_user.person %}
      <span class="pull-right">
        <a href="{{ url_for('api.add') }}" class="btn btn-mini btn-primary">Add MAC Address</a>
      </span>
    {% else %}
      <span class="pull-right">
        <a href="{{ url_for('api.manual_clocking') }}" class="btn btn-mini btn-primary">Clock me!</a>
      </span>
    {% endif %}
{% endif %}
<div id="reportrange" class="report-range">
  <i class="glyphicon glyphicon-calendar fabt fa-calendar"></i>&nbsp;
  <span></span> <b class="caret"></b>
</div>
<div id="clocking">
{% for entry in entries %}
  <div class="my-container">
    <h3 class="data-align">
      {{ entry.day.strftime('%B') }} {{ entry.day.strftime('%d') }}, {{ entry.day.strftime('%Y') }}
    </h3>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Device</th>
          <th>In</th>
          <th>Out</th>
        </tr>
      </thead>
      <tbody>
        {% for entry_by_day in entry.entries_by_day %}
          <tr>
            <td>{{ entry_by_day.mac.person.first_name }} {{ entry_by_day.mac.person.last_name }}</td>
            <td>
              <span class="label label-
                {%- if entry_by_day.mac.device == 'mobile' -%}
                  primary
                {% elif entry_by_day.mac.device == 'desktop' -%}
                  warning
                {%- else -%}
                  success
                {%- endif -%}">
                {{ entry_by_day.mac.device }}
              </span>
            </td>
            <td>{{ entry_by_day.startdate.strftime('%H:%M') }}</td>
            <td>
              {% if entry_by_day.enddate %}
                {{ entry_by_day.enddate.strftime('%H:%M') }}
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}
</div>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
      $.urlParam = function (name) {
          var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
          if (results == null) {
              return null;
          }
          else {
              return results[1] || 0;
          }
      };

      $(function () {
          start_date = $.urlParam('start_date');
          end_date = $.urlParam('end_date');
          if (start_date && end_date) {
              var start = moment(start_date, 'DD/MM/YYYY');
              var end =  moment(end_date, 'DD/MM/YYYY');
          }
          else {
              var start = moment();
              var end = moment();
          }


          function cb(start, end) {
              $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          }
          $('#reportrange').daterangepicker({
              startDate: start,
              endDate: end,
              ranges: {
                  'Today': [moment(), moment()],
                  'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                  'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                  'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                  'This Month': [moment().startOf('month'), moment().endOf('month')],
                  'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
              }
          }, cb);
          cb(start, end);
          $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
              start_date = picker.startDate.format('DD/MM/YYYY');
              end_date = picker.endDate.format('DD/MM/YYYY');
              url = "/?start_date=" + start_date + "&" + "end_date=" + end_date;
              window.location.href = url;
          });
      });
  </script>
{% endblock %}
