<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script>
    $(function() {
      $( ".dtpick" ).datepicker({dateFormat: 'dd/mm/yy'});
    });
	</script>
</head>

<body>
<div class="container center-block">
  <h1>Pontaj</h1>
  <div>
    <form method="get" action="" role="form">
      <div class="col-sm-5">
        {{ form.start_date(class="dtpick form-control", placeholder="Start date", autocomplete='off') }}
      </div>
      <div class="col-sm-5">
        {{ form.end_date(class="dtpick form-control", placeholder="End date", autocomplete='off') }}
      </div>
      <button type="submit" class="btn btn-success">Filter</button>
    </form>
  </div>
  {% if form.errors %}
    <ul class="errors">
      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
          <div class="alert alert-danger">
            {{ form[field_name].label }}: {{ error }}
          </div>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Nume</th>
          <th>Prenume</th>
          <th>Ora de intrare</th>
          <th>Ora de iesire</th>
        </tr>
      </thead>
      <tbody>
        {% for person in persons %}
          <tr>
            <td>{{ person.last_name }}</td>
            <td>{{ person.first_name }}</td>
            <td>{{ person.startdate }}</td>
            <td>{{ get_enddate(person.enddate) }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</body>
</html>