{% extends "layout.html" %}
{% block content %}
<h1>Working time</h1>
<div>
  <form method="get" action="" role="form">
    <div class="col-sm-5">
      {{ form.start_date(class="dtpick form-control", placeholder="Start date", autocomplete='off') }}
    </div>
    <div class="col-sm-5">
      {{ form.end_date(class="dtpick form-control", placeholder="End date", autocomplete='off') }}
    </div>
    <button type="submit" class="btn btn-info">Filter</button>
  </form>
</div>
{% if form.errors %}
  <ul class="errors">
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
        <div class="alert alert-danger">
          {{ form[field_name].label }}: {{ error }}
        </div>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
{% for entry in entries %}
  <div class="my-container">
    <h3 class="data-align">{{ entry.day }}</h3>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Device</th>
          <th>In</th>
          <th>Out</th>
        </tr>
      </thead>
      <tbody>
        {% for entry_by_day in entry.entries_by_day %}
          <tr>
            <td>{{ entry_by_day.mac.person.first_name }} {{ entry_by_day.mac.person.last_name }}</td>
            <td>
              <span class="label label-
                {%- if entry_by_day.mac.device == 'mobile' -%}
                  primary
                {% elif entry_by_day.mac.device == 'desktop' -%}
                  warning
                {%- else -%}
                  success
                {%- endif -%}">
                {{ entry_by_day.mac.device }}
              </span>
            </td>
            <td>{{ entry_by_day.startdate.strftime('%H:%M') }}</td>
            <td>{{ get_enddate(entry_by_day.startdate) }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}
{% endblock %}
