<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery-1.10.2.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  {% block style %}
  {% endblock %}
</head>
<body>
  <div class="container center-block">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('api.clocking') }}">Hours</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('api.people') }}">People</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('api.about') }}">About</a></li>
{#      {% if current_user.is_authenticated %}#}
{#        <div class="breadcrumb-item btn-group pull-right">#}
{#          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">#}
{#            <i class="glyphicon glyphicon-user"></i>#}
{#            {% if current_user.person.first_name -%}#}
{#              {{ current_user.person.first_name }}#}
{#            {% else -%}#}
{#              {{ current_user.email }}#}
{#            {%- endif %}<span class="caret"></span>#}
{#          </a>#}
{#          <ul class="dropdown-menu" role="menu">#}
{#            <li><a href="{{ url_for('security.logout') }}">Log out</a></li>#}
{#          </ul>#}
{#        </div>#}
{#      {% else %}#}
{#        <li class="breadcrumb-item pull-right"><a href="{{ url_for('security.login') }}">Log in</a></li>#}
{#      {% endif %}#}
    </ol>
    {% block content %}{% endblock %}
  </div>
  {% block scripts %}{% endblock %}
  <div class="margin-top">
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Found an issue? Please report it on
          <a href="https://github.com/eaudeweb/mac-logging/issues">GitHub</a>
        </span>
      </div>
    </footer>
  </div>
</body>
</html>
