<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery-1.10.2.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js')}}"></script>
  <script>
    $(function() {
      $( ".dtpick" ).datepicker({dateFormat: 'dd/mm/yy'});
    });
  </script>
</head>
<body>
  <div class="container center-block">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a href="{{ url_for('api.clocking') }}">Hours</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('api.people') }}">People</a></li>
      <li class="breadcrumb-item active"><a href="{{ url_for('api.about') }}">About</a></li>
    </ol>
    {% block content %}{% endblock %}
  </div>
  {% block scripts %}{% endblock %}
  <footer class="footer">
    <div class="container">
      <span class="text-muted">Found an issue? Please report it on
        <a href="https://github.com/eaudeweb/mac-logging/issues">GitHub</a>
      </span>
    </div>
  </footer>
</body>
</html>
