<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  <h1>People</h1>
  {% if success %}
      <div class="alert alert-success">
        {{ success }}
      </div>
  {% endif %}
  <ul class="list-group">
    {% for person in persons %}
      <li class="list-group-item"><a href="{{ url_for('api.edit', person_id=person.id) }}">{{ person.last_name }} {{ person.first_name }}</a> ---> {{ person.mac }}</li>
    {% endfor %}
  </ul>

  <a href="{{ url_for('api.add') }}">
    <button type="button" class="btn btn-success">Add</button>
  </a>
</div>
</body>
</html>