.hidden{
    display:none;
}

.visible{
    display: inline-block;
}

.margin-top{
    margin-top: 80px;
}

.footer {
    text-align: center;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
}

.data-align {
    display: inline-block;
    padding: 0 15px;
    position: relative;
}

.data-align:before,
.data-align:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}

.data-align:before {
    right: 100%;
}

.data-align:after {
    left: 100%;
}

.my-container {
    overflow: hidden;
    text-align: center;
    padding-top: 15px;
}
